    /* Full-width input fields */
    .item input{ 
        padding: 15px;
        margin: 5px 5px 22px 0;
        background: #f1f1f1;
    }

    .item input[type=text], .item input[type=file] {
        width: 100%;
        /* display: inline-block; */
        display: inline-block;
        border: none;
    }

   

    .item input:focus{
        background-color: #ddd;
        outline: none;
    }

    .item img {
        width: 300px; 
        height: 300px; 
        object-fit: cover;
    }


    /* Set a style for all buttons */
    .item_btn {
        background-color: #04AA6D;
        color: white;
        border-radius: 8px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
    }

    .item_btn:hover {
        opacity:0.6;
    }

    /* Extra styles for the cancel button */
    .cancel_btn {
        background-color: #f44336;
        color: white;
        border-radius: 8px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.8;
    }


    .cancel_btn:hover {
        opacity: 1;
    }


    .grid{
        padding: 15px;
        margin: 5px 5px 22px 0;
        display: grid;
        grid-template-columns: 1fr 4fr ;
         grid-template-rows: auto; 
        place-items: center;
        
    }


    .item img{
        width: 200px; 
        height: 200px; 
        padding: 15px;
        margin: 5px 5px 22px 0;
        object-fit: cover;
    }
